{{#each this}}
    <div class="country">
            <h2 class="country-name">{{name.common}}</h2>
            <div class="info">
            <div class="description">
                <p class="country-property">Capital: <span>{{capital}}</span></p>
                <p class="country-property">Population: <span>{{population}}</span></p>
                <p class="country-property">Languages: </p>
                <ul>
                    {{#each languages}}
                        <li class="country-language">{{this}}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="flag">
                <img class="country-flag" src="{{flags.png}}" alt="country-flag" width="240">
            </div>
            </div>
    </div>
{{/each}}
